@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="container">
        <div class="results">
            <h1>Movies</h1>

            @if (Model.Movies.Count == 0)
            {
                <h2>No Results</h2>
            }

            @foreach (Movie movie in Model.Movies)
            {
                <div class="movie-entry">
                    <h2>
                        @movie.Title
                        @if (movie.Release_Year != null)
                        {<span> (@movie.Release_Year)</span>}
                    </h2>
                    @if (movie.Major_Genre != null)
                    {
                        <div class="genre">@movie.Major_Genre</div>
                    }
                    @if (movie.MPAA_Rating != null)
                    {
                        <div class="rating">Rated @movie.MPAA_Rating</div>
                    }
                    @if (@movie.Director != null)
                    {
                        <div class="director">Directed by @movie.Director</div>
                    }
                    <div class="ratings">
                        @if (movie.IMDB_Rating != null)
                        {
                            <div>
                                <span>IMDB</span>
                                <h3>@movie.IMDB_Rating</h3>
                            </div>
                        }
                        @if (movie.Rotten_Tomatoes_Rating != null)
                        {
                            <div>
                                <span>Rotten Tomatoes</span>
                                <h3>@movie.Rotten_Tomatoes_Rating</h3>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <form method="post">

            <h4>Search</h4>
            <input type="text" name="search" value="@Model.search"/>

            <input type="submit" value="Search and Filter" />

            <h4>Filter By MPAA Rating</h4>
            <label>
                <input type="checkbox" value="G" name="mpaa" checked="@Model.mpaa.Contains("G")" />
                Rated G
            </label>
            <label>
                <input type="checkbox" value="PG" name="mpaa" checked="@Model.mpaa.Contains("PG")" />
                Rated PG
            </label>
            <label>
                <input type="checkbox" value="PG-13" name="mpaa" checked="@Model.mpaa.Contains("PG-13")" />
                Rated PG-13
            </label>
            <label>
                <input type="checkbox" value="R" name="mpaa" checked="@Model.mpaa.Contains("R")" />
                Rated R
            </label>
            <label>
                <input type="checkbox" value="NC-17" name="mpaa" checked="@Model.mpaa.Contains("NC-17")" />
                Rated NC-17
            </label>

            <h4>Review Scores</h4>
            <label>
                Minimum IMDB Rating:
                <input type="number" min="0" max="10" step="0.1" name="minIMDB" value="@Model.minIMDB"/>
            </label>
            <label>
                Maxiumum IMDB Rating:
                <input type="number" min="0" max="10" step="0.1" name="maxIMDB" value="@Model.maxIMDB"/>
            </label>

        </form>
    </div>

